In [4]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
import math
import matplotlib.pyplot as plt
import os
path = os.getcwd()

In [24]:
# 导入数据
data = pd.read_csv(path + '\\data\\energy_withTime.csv',header=0,index_col=0)

In [25]:
data.head()

                     Hour    load       temp
date
2012-01-01 00:00:00     1  2698.0  32.000000
2012-01-01 01:00:00     2  2558.0  32.666667
2012-01-01 02:00:00     3  2444.0  30.000000
2012-01-01 03:00:00     4  2402.0  31.000000
2012-01-01 04:00:00     5  2403.0  32.000000